<style>
.back {
  background: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  max-width: 900px;
  height: 100%;
  background-color: #fff; 
  margin: auto;
  overflow: auto;
  padding: 1em 2em;
  box-shadow: 0 0 50px #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

.line {
  display: inline-block;
  border-top: 1px solid #e8e8e8;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100%;
}

.sources {
  padding-top: 3%;
}

.section-title {
  margin-bottom: 10px;
}
.show-settings-button {
  color: gray;
  border: none;
  background: #e8e8e8;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}
.settings-table {
  display: none;
  margin-bottom: 20px;
}
</style>
